<app-loading-screen [loadingText]="'Procesando compra...'"></app-loading-screen>

<form #purchaseForm="ngForm" (ngSubmit)="onSubmit()">
  <h2>Datos de responsable de compra</h2>
  <div>
    <label for="fullName">Nombre Completo:</label>
    <input type="text" id="fullName" [(ngModel)]="purchase.name" name="name" required minlength="3" maxlength="50" placeholder="Pedro Gonzalez" #fullName="ngModel">
    <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="error">
      <div *ngIf="fullName.errors?.['required']">El nombre completo es requerido.</div>
      <div *ngIf="fullName.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</div>
      <div *ngIf="fullName.errors?.['maxlength']">El nombre no puede tener más de 50 caracteres.</div>
    </div>
  </div>
  
  <div>
    <label for="idType">Tipo de Documento:</label>
    <select id="idType" [(ngModel)]="purchase.idType" name="idType" required #idType="ngModel">
      <option *ngFor="let type of idTypes" [value]="type.id" [title]="type.description">{{ type.name }}</option>
    </select>
    <div *ngIf="idType.invalid && (idType.dirty || idType.touched)" class="error">
      <div *ngIf="idType.errors?.['required']">El tipo de documento es requerido.</div>
    </div>
  </div>
  
  <div>
    <label for="idNumber">Número de Documento:</label>
    <input type="text" id="idNumber" [(ngModel)]="purchase.idNumber" name="idNumber" required minlength="5" placeholder="Ingresar numero de documento sin puntos ni espacios" #idNumber="ngModel">
    <div *ngIf="idNumber.invalid && (idNumber.dirty || idNumber.touched)" class="error">
      <div *ngIf="idNumber.errors?.['required']">El número de documento es requerido.</div>
      <div *ngIf="idNumber.errors?.['minlength']">El número de documento debe tener al menos 5 caracteres.</div>
    </div>
  </div>
  
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="purchase.email" name="email" required email placeholder="Email al cual se enviaran las entradas" #email="ngModel">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
      <div *ngIf="email.errors?.['required']">El email es requerido.</div>
      <div *ngIf="email.errors?.['email']">El formato del email es incorrecto.</div>
    </div>
  </div>
  
  <h2>Datos la tarjeta de débito</h2>
  <div>
    <label for="responsibleName">Nombre del Responsable:</label>
    <input type="text" id="responsibleName" [(ngModel)]="purchase.responsibleName" name="responsibleName" required minlength="3" maxlength="50" placeholder="Nombre que aparece en la tarjeta" #responsibleName="ngModel">
    <div *ngIf="responsibleName.invalid && (responsibleName.dirty || responsibleName.touched)" class="error">
      <div *ngIf="responsibleName.errors?.['required']">El nombre es requerido.</div>
      <div *ngIf="responsibleName.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</div>
      <div *ngIf="responsibleName.errors?.['maxlength']">El nombre no puede tener más de 50 caracteres.</div>
    </div>
  </div>
  
  <div>
    <label for="cardNumber">Número de Tarjeta:</label>
    <input type="text" id="cardNumber" [(ngModel)]="purchase.cardNumber" name="cardNumber" required placeholder="Ingresar numero de la tarjeta sin guiones ni espacios" #cardNumber="ngModel">
    <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)" class="error">
      <div *ngIf="cardNumber.errors?.['required']">El número de tarjeta es requerido.</div>
    </div>
  </div>
  
  <div>
    <label for="expiryDate">Fecha de Vencimiento:</label>
    <input type="text" id="expiryDate" [(ngModel)]="purchase.expiryDate" name="expiryDate" placeholder="MM/YY" required pattern="^([0-9]{2})\/?([0-9]{2})$" #expiryDate="ngModel">
    <div *ngIf="expiryDate.invalid && (expiryDate.dirty || expiryDate.touched)" class="error">
      <div *ngIf="expiryDate.errors?.['required']">La fecha de vencimiento es requerida.</div>
      <div *ngIf="expiryDate.errors?.['pattern']">El formato debe ser MM/YY.</div>
    </div>
  </div>
  
  <div>
    <label for="cvv">CVV:</label>
    <input type="text" id="cvv" [(ngModel)]="purchase.cvv" name="cvv" required pattern="^\d{3,}$" placeholder="Numero de 3 digitos ubicado al dorso de la tarjeta" #cvv="ngModel">
    <div *ngIf="cvv.invalid && (cvv.dirty || cvv.touched)" class="error">
      <div *ngIf="cvv.errors?.['required']">El CVV es requerido.</div>
      <div *ngIf="cvv.errors?.['pattern']">El CVV debe ser un número de 3 dígitos.</div>
    </div>
  </div>
    
  <button type="submit" [disabled]="!purchaseForm.valid">Realizar Compra</button>
</form>

<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <div class="d-flex justify-content-center">
      <img src="assets/success-icon.png" alt="Success" class="success-icon img-fluid">
    </div>
    <h1>Compra Exitosa</h1>
    <p>Gracias por su compra. Su transacción ha sido completada con éxito.</p>
    <button (click)="closeModal()">Volver a Inicio</button>
  </div>
</div>
