/* Home Container */
.home-container {
  max-width:100%;
}

/* Carrusel de banners */
.carousel-container {
  max-width: 100%;
}

.carousel-inner {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 18 / 6; /* Mantiene una relación de aspecto de 16:9 */
  width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra sin deformarse */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #fff; /* Color de las flechas */
}

.carousel-indicators [data-bs-target] {
  background-color: #fff; /* Indicadores en blanco */
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .carousel-item {
    aspect-ratio: 18 / 6; /* Mantiene la relación en móviles */
  }
}

.banner-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 600px; /* Ajusta la altura según tu necesidad */
}

/* Títulos */
h1 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: var(--fuente-titulos);
  color: var(--color-principal);
}

/* Movie Card */
.movie-card {
  background-color: var(--color-fondo-claro);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra inicial */
}

.movie-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Sombra al hacer hover */
  border-color: var(--color-principal);
}

/* Poster de la película */
.movie-poster {
  max-width: 100%;
  height: 600px; 
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Card Body y textos */
.card-body {
  font-family: var(--fuente-texto);
}

.card-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

/* Mensaje sin películas */
.no-movies-message {
  font-family: var(--fuente-texto);
  font-size: 1.125rem;
  color: #666;
}

/* Barra de búsqueda */
.search-bar {
  background-color: var(--color-principal);
  padding: 20px;
  border-radius: 8px;
  color: var(--color-texto-claro);
  text-align: center;
}

.search-bar .form-control {
  background-color: var(--color-fondo-claro);
  color: var(--color-texto-oscuro);
}

.search-bar .form-control:focus {
  border-color: var(--color-acento);
  box-shadow: 0 0 5px var(--color-sombra-secundario);
}

.search-bar .form-control::placeholder {
  color: var(--color-texto-oscuro);
}

.search-bar .btn-primary {
  background-color: var(--color-boton);
  border: none;
  width: 100%;
  box-shadow: none;
}

.search-bar .btn-primary:hover {
  background-color: #696969;
  border: none;
  width: 100%;
  box-shadow: none;
}

.search-bar .btn-outline-secondary {
  color: var(--color-texto-claro);
  border-color: var(--color-texto-claro);
}

.search-bar .btn-outline-secondary:hover {
  background-color: var(--color-secundario);
  border-color: var(--color-secundario);
  box-shadow: 0 0 5px var(--color-sombra-secundario);
}

.btn-sm{
  color: var(--color-secundario);
  border: none;
}

.search-bar .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-bar .col-12,
.search-bar .col-md-2,
.search-bar .col-md-3 {
  flex: 1 1 100%;
  max-width: 100%;
  padding: 5px;
}

.search-bar .col-12.col-md-2.mt-2 {
  margin-top: 20px;
  max-width: 100%;
}

select option[value=""] {
  color: gray;
}

@media (min-width: 1300px) {
  .search-bar .row {
    display: flex;
    flex-wrap: wrap;
  }

  .search-bar .col-12 {
    flex: 1 1 auto;
    max-width: 100%;
  }

  .search-bar .col-md-2 {
    flex: 1 1 16.6667%;
    max-width: 16.6667%;
  }

  .search-bar .col-md-2.mt-2 {
    margin-top: 20px;
  }
}

/*Alerta de filtros*/
.filter-alert {
  background: var(--color-principal);
  border: var(--color-fondo-claro) 2px solid;
  border-left: 7px solid var(--color-acento);
  color: var(--color-texto-oscuro);
  font-family: var(--fuente-texto);
  padding: 12px 16px;
  margin-top: 12px;
  border-radius: 8px;
}

.filter-alert strong {
  font-family: var(--fuente-titulos);
  color: var(--color-texto-claro);
}

.filter-alert span {
  display: inline-block;
  background: var(--color-fondo-claro);
  color: var(--color-texto-oscuro);
  padding: 5px 10px;
  border-radius: 4px;
  margin: 4px 4px 0 0;
  font-size: 14px;
}

.filter-alert i {
  color: var(--color-acento);
  margin-right: 5px;
}


/* Ajustes responsive */
@media (max-width: 576px) {
  .movie-poster {
    height: 250px;
  }
}

@media (min-width: 576px) and (max-width: 1300px) {
  .movie-poster {
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .movie-poster {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .movies-grid .col-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card-body {
    padding: 5px;
  }

  .card-title {
    font-size: 17px;
  }

  .card-text {
    font-size: 12px;
  }

  @media (max-width: 576px) {
  .search-bar .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 10px; /* Espaciado entre columnas */ 
  }

  .search-bar .btn-row{
    margin-top: 6px;
  }

  .search-bar .col-12 {
    flex: 1 1 auto;
    max-width: 100%;
  }

  .search-bar .col-md-6 {
    flex: 1 1 50%;
    max-width: 100%;
  }
}
}
