
/* Home Container */
.home-container {
  max-width: 1200px;
}

/* Banner */
.banner {
  overflow: hidden;
}

.banner-image {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

/* Títulos */
h1, h2 {
  font-family: var(--fuente-titulos);
  color: var(--color-principal);
}

h1 {
  font-size: 2rem; /* Equivalente a 32px, se ajusta según Bootstrap */
}

h2 {
  font-size: 1.5rem; /* Equivalente a 24px */
}

/* Movie Card */
.movie-card {
  background-color: white/*var(--color-fondo-claro)*/;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Poster de la película */
.movie-poster {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
/* Card Body y textos */
.card-body {
  font-family: var(--fuente-texto);
}

.card-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

/* Mensaje sin películas */
.no-movies-message {
  font-family: var(--fuente-texto);
  font-size: 1.125rem;
  color: #666;
}