<app-loading-screen [loadingText]="'Procesando...'"></app-loading-screen>

<div class="container show-form-container mt-4">
  <h1 class="title text-center mb-4">{{ isEditMode ? 'Actualizar Función' : 'Crear Función' }}</h1>
  <form [formGroup]="showForm" (ngSubmit)="onSubmit()">
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <div *ngIf="isEditMode" class="mb-3">
      <label for="showId" class="form-label">ID de la Función</label>
      <input id="showId" formControlName="showId" type="text" class="form-control" [readonly]="hasIdInUrl">
      <button *ngIf="!hasIdInUrl" type="button" class="btn btn-secondary mt-2" (click)="onLoadShow()">Cargar Función</button>
    </div>
    <div class="mb-3">
      <label for="dateAndTime" class="form-label">Fecha y Hora</label>
      <input id="dateAndTime" formControlName="dateAndTime" type="datetime-local" class="form-control">
    </div>
    <div class="mb-3">
      <label for="movieId" class="form-label">Película</label>
      <select id="movieId" formControlName="movieId" class="form-select" (change)="onMovieChange($event)">
        <option value="" selected>Seleccione una película</option>
        <option *ngFor="let movie of movies" [value]="movie.id">{{ movie.name }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="languageId" class="form-label">Idioma</label>
      <select id="languageId" formControlName="languageId" class="form-select">
        <option value="" disabled selected>Seleccione un idioma</option>
        <option *ngFor="let language of languages" [value]="language.id">{{ language.name }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="roomId" class="form-label">Sala</label>
      <select id="roomId" formControlName="roomId" class="form-select" (change)="onRoomChange($event)">
        <option value="" selected>Seleccione una sala</option>
        <option *ngFor="let room of rooms" [value]="room.id">{{ room.roomNumber }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="showTypeId" class="form-label">Tipo de Función</label>
      <select id="showTypeId" formControlName="showTypeId" class="form-select">
        <option value="" disabled selected>Seleccione un tipo de función</option>
        <option *ngFor="let type of filteredShowTypes" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary w-100">{{ isEditMode ? 'Actualizar' : 'Crear' }}</button>
  </form>

  <!-- Modal de éxito -->
  <app-modal 
    [showModal]="showModal" 
    [title]="modalTitle"
    [message]="modalMessage"
    (closeModalEvent)="closeModal()">
  </app-modal>
</div>