.title {
  text-align: center;
  color: var(--color-texto-oscuro);
  font-family: var(--fuente-titulos);
  margin-bottom: 20px;
}

.movie-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: var(--fuente-texto);
}

.movie-form-container div {
  margin-bottom: 15px;
}

.movie-form-container label {
  display: block;
  margin-bottom: 5px;
}

.movie-form-container input,
.movie-form-container textarea,
.movie-form-container select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.movie-form-container button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.movie-form-container button:hover {
  background-color: var(--color-boton); 
}

.movie-form-container button {
  width: 100%;
  padding: 10px;background-color: var(--color-principal);
  color: var(--color-texto-claro);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  text-align: center; 
}

.movie-form-container button[type="button"]:hover {
  background-color: var(--color-boton); 
}

.poster-container {
  text-align: center;
  position: relative;
}

.poster-label {
  text-align: left;
  display: block;
  pointer-events: none;
}

.poster-preview {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}

.poster-preview img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.success-icon {
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
}