<div class="container-fluid" *ngIf="shows.length > 0; else noShows">
  <h1 class="title">Funciones</h1>
  <div class="table-responsive">
    <button [disabled]="!selectedShow" (click)="editShow()" class="edit-button">
      <i class="fas fa-edit"></i> Actualizar
    </button>
    <table class="show-table table-hover align-middle">
      <thead>
        <tr>
          <th (click)="sort('id')">ID <span [class]="getSortIcon('id')" class="sortable"></span></th>
          <th (click)="sort('dateAndTime')">Fecha y Hora <span [class]="getSortIcon('dateAndTime')" class="sortable"></span></th>
          <th (click)="sort('name')">Película <span [class]="getSortIcon('name')" class="sortable"></span></th>
          <th (click)="sort('showType')">Tipo de Función <span [class]="getSortIcon('showType')" class="sortable"></span></th>
          <th (click)="sort('selectedLanguage')">Idioma <span [class]="getSortIcon('selectedLanguage')" class="sortable"></span></th>
          <th (click)="sort('room')">Sala <span [class]="getSortIcon('room')" class="sortable"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let show of shows" (click)="selectShow(show)" [class.selected]="show === selectedShow">
          <td>{{ show.id }}</td>
          <td>{{ show.dateAndTime | date:'short' }}</td>
          <td>{{ show.movie.name }}</td>
          <td>{{ show.showType.name }}</td>
          <td>{{ show.selectedLanguage.name }}</td>
          <td>{{ show.room.roomNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #noShows>
  <div class="alert alert-warning text-center" role="alert">
    <i class="fas fa-exclamation-triangle"></i> No hay funciones disponibles para esta sucursal.
  </div>
</ng-template>