<app-loading-screen [loadingText]="'Cargando...'"></app-loading-screen>

<div class="search-sales-container">
  <h1 class="text-center">Buscar Ventas</h1>
  <div class="search-bar">
    <form (ngSubmit)="onSearch()">
      <div class="row g-2">
        <div class="col-12 col-md-4">
          <label for="dateFrom" class="form-label">Fecha desde</label>
          <input
            type="date"
            id="dateFrom"
            [(ngModel)]="searchCriteria.dateFrom"
            name="dateFrom"
            class="form-control"
          />
        </div>
        <div class="col-12 col-md-4">
          <label for="dateTo" class="form-label">Fecha hasta</label>
          <input
            type="date"
            id="dateTo"
            [(ngModel)]="searchCriteria.dateTo"
            name="dateTo"
            class="form-control"
          />
        </div>
        <div class="col-12 col-md-6">
          <label for="purchaseCode" class="form-label">Código de Compra</label>
          <input
            id="purchaseCode"
            [(ngModel)]="searchCriteria.purchaseCode"
            name="purchaseCode"
            class="form-control"
          />
        </div>
      </div>
      <div class="btn-row row g-2 mt-2">
        <div class="col-12 col-md-3">
          <button type="submit" class="btn btn-primary w-100">Buscar</button>
        </div>
        <div class="col-12 col-md-3">
          <button type="button" class="btn btn-outline-secondary w-100" (click)="resetFilters()">Limpiar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="sales-list mt-4 text-center">
    <div *ngIf="filteredSales.length === 0" class="no-results">
      No se encontraron resultados.
    </div>
    <ul *ngIf="filteredSales.length > 0" class="list-unstyled">
      <li *ngFor="let sale of filteredSales" class="sale-item mb-4">
        <div class="d-flex justify-content-center">
          <div class="sale-details me-3 text-start">
            <strong>ID:</strong> {{ sale.id }} <br />
            <strong>Fecha:</strong> {{ sale.dateAndTime | date: 'short' }} <br />
            <strong>Cancelado:</strong> {{ sale.canceled ? 'Sí' : 'No' }} <br />
            <strong>Código de compra:</strong> CINEPASS-{{sale.id}}-{{sale.paymentData.IDNumber}} <br />
          </div>
          <div class="customer-details ms-3 text-start">
            <strong>Cliente:</strong> {{ sale.paymentData.name }} <br />
            <strong>Tipo Documento:</strong> {{ sale.paymentData.IDType.name }} <br />
            <strong>Nro. Documento:</strong> {{ sale.paymentData.IDNumber }} <br />
          </div>
        </div>
        <div class="text-center mt-2">
          <button class="btn btn-primary btn-sm" (click)="openDetails(sale)">Ver Detalles</button>
        </div>
      </li>
    </ul>
  </div>

  <!-- Modal para mostrar detalles -->
  <div class="modal" tabindex="-1" [class.show]="selectedSale" *ngIf="selectedSale">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><strong>Detalles de la Venta</strong></h5>
          <button type="button" class="btn-close" (click)="closeDetails()"></button>
        </div>
        <div class="modal-body">
          <h5 class='text-center'><strong>Datos de la venta</strong></h5>
          <p><strong>ID:</strong> {{ selectedSale.id }}</p>
          <p><strong>Fecha:</strong> {{ selectedSale.dateAndTime | date: 'short' }}</p>
          <p><strong>Boletos:</strong> {{ selectedSale.ticketsAmount }}</p>
          <p><strong>Total:</strong> ${{ selectedSale.totalPrice }}</p>
          <p><strong>Cancelado:</strong> {{ selectedSale.canceled ? 'Sí' : 'No' }}</p>
          <p><strong>Código de compra:</strong> CINEPASS-{{selectedSale.id}}-{{selectedSale.paymentData.IDNumber }}</p>
          <hr />
          <h5 class='text-center'><strong>Datos del cliente</strong></h5>
          <p><strong>Cliente:</strong> {{ selectedSale.paymentData.name }}</p>
          <p><strong>Email:</strong> {{ selectedSale.paymentData.email }}</p>
          <p><strong>Tipo Documento:</strong> {{ selectedSale.paymentData.IDType.name }}</p>
          <p><strong>Nro. Documento:</strong> {{ selectedSale.paymentData.IDNumber }}</p>
          <p><strong>Método de Pago:</strong> {{ selectedSale.paymentData.paymentMethod.name }}</p>
          <hr />
          <h5 class='text-center'><strong>Datos de la Función</strong></h5>
          <div class="show-details">
            <p *ngIf="!showDetails">Cargando detalles del show...</p>
            <div *ngIf="showDetails">
              <p><strong>ID:</strong> {{ showDetails.id }}</p>
              <p><strong>Fecha y Hora:</strong> {{ showDetails.dateAndTime | date: 'short' }}</p>
              <p><strong>Pelicula:</strong> {{ showDetails.movie.name }}</p>
              <p><strong>Tipo de Funcion:</strong> {{ showDetails.showType.name }}</p>
              <p><strong>Idioma:</strong> {{ showDetails.selectedLanguage.name }}</p>
              <p><strong>Sala:</strong> {{ showDetails.room.roomNumber }}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button
            class="btn btn-danger btn-sm"
            (click)="cancelSale(selectedSale.id)"
            [disabled]="selectedSale.canceled"> <!-- Deshabilita el botón si la venta está cancelada -->
            Cancelar Venta
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal
  [showModal]="showModal"
  [title]="'Cancelación Exitosa'"
  [message]="'La venta con ID: ' + canceledSaleId + ' ha sido cancelada con éxito.'"
  (closeModalEvent)="closeModal()"
  (navigateEvent)="navigate()">
</app-modal>